* {
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  --cluster-yellow: #ffeb01;
  --mobile-padding: 10px 10px;
  --primary-color: #181818;
  --secondary-color: #f0f0ef;
  --button-color: #f0f0ef;
  --third-color: white;
  --text-color: #d9d4af;
  --font-size: 20px;
  --margin-size: 15px;
  --paddingValue: 100px;
  --paddingSideValue: 35px;
  --padding: var(--paddingValue) var(--paddingValue);
  --button2-color: black;
  --whiteTurningBlack: white;

  background-color: var(--secondary-color);
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
}

svg {
  fill: black;
}

* {
  box-sizing: border-box;
  cursor: url("../public/assets/Pointer_Default.cur"), auto;
}

img,
.interactable,
button,
a {
  cursor: url("../public/assets/Pointer_Hand.cur"), auto;
}

.elementOver canvas {
  cursor: url("../public/assets/Pointer_Hand_giantd.cur"), auto !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-row {
  flex-direction: row;
  display: flex;
}
.gap {
  gap: 5px;
}

.flex-column {
  flex-direction: column;
  display: flex;
}

.align-center {
  align-items: center;
  /* justify-content: center; */
}
.justify-center {
  justify-content: center;
}
.align-right {
  align-items: flex-end;
}
.space-between {
  justify-content: space-between;
  align-items: space-between;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

a.flex-row {
  align-items: center;
}

.blockContainer.confined {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blockContainer.confined .block,
.textBlock {
  max-width: 1200px;
  width: 100%;
  padding: 0;
}
.blockContainer.confined .blockItem {
  padding: 0;
}

.blockItem {
  padding: 100px 100px 100px 100px;
  justify-content: center;
  display: flex;
  align-items: center;
}
/* .blockItem:is(:first-of-type) {
  padding: 100px 100px 100px var(--paddingValue);
  justify-content: center;
  display: flex;
  align-items: center;
} */

.fullWidthBlock {
  padding: 0 14px 0 14px;
}
.connectedprojectpill {
  padding: 0 14px 14px 14px;
}
.block {
  padding: var(--paddingValue) 100px var(--paddingValue) 100px;
}
.blockTop {
  padding: 50px 0px 25px 0px;
}
.blockBottom {
  padding-bottom: var(--paddingValue);
}
.blockItemOpenRight {
  padding: var(--paddingValue) 0 var(--paddingValue) 50px;
}
.blockItemHeadline {
  padding: var(--paddingValue) 0 10px 50px;
}
/* .blockItemHeadline:is(:first-of-type) {
  margin-top: 50px;
} */
.headlinep {
  padding-bottom: 50px;
}
/* .projectPage {
  margin-top: 90px;
} */
.projectDetails {
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 52px;
  gap: 10px;
}
.projectDetails p,
.projectDetails a {
  white-space: nowrap;
  font-weight: 400;
  font-size: 18px;
}
.projectDetails a.category,
.projectDetails a.tag {
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(27.5px);
  color: white;
  display: inline-flex;
  padding: 10px;
}

.projectDetails .blockItem:is(:last-child) {
  padding-top: 20px;
}
.carouselContainer {
  padding-top: 50px;
  position: relative;
  padding-bottom: 50px;
}
.counter {
  margin: 10px;
  position: absolute;
  top: 105px;
  font-size: 24px;
}

.carouselContainer .carousel {
  padding-top: 50px;
}
.carouselContainer .featuredCardArrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.featuredCardArrow.prevArrow {
  right: 40px;
}

.cubedImage {
  /* height: 700px; */
  /* width: 700px; */
}
.cubedImage span,
.cubedImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a,
p {
  margin: 0;
  min-height: var(--font-size);
  letter-spacing: 0em;
  text-align: left;
  white-space: normal;
  color: var(--primary-color);
  font-family: Arial;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  width: fit-content;
}
.smallp p,
.smallp {
  color: var(--primary-color);
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}
.minip p,
.minip {
  font-size: 15px;
  line-height: normal;
}

.minip.tag p {
  white-space: nowrap;
}

a strong,
p strong {
  font-weight: 700;
}

h1 {
  color: var(--primary-color);
  font-family: Arial;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  white-space: wrap;
}
h1 strong {
  font-weight: 700;
}
h2 {
  color: var(--primary-color);
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  white-space: wrap;
}
h2 strong {
  font-weight: 700;
}
h3 {
  color: var(--primary-color);
  font-family: Arial;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */
  white-space: wrap;
}
h3 strong {
  font-weight: 700;
}
h4 {
  color: var(--primary-color);
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */
  white-space: wrap;
}
h4 strong {
  font-weight: 700;
}
h5 {
  color: var(--primary-color);
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  white-space: wrap;
}
h5 strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}
.mini p {
  margin: 0;
  min-height: var(--font-size);
  letter-spacing: 0em;
  text-align: left;
  white-space: normal;
  color: var(--primary-color);
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
}

.timelineYear {
  color: var(--primary-color);
  /* text-align: center; */
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 60px;
  padding-top: 40px;
  line-height: 35.5px; /* 78.889% */
}

#headLinePlace {
  margin-top: 30px;
  opacity: 0;
}
#headLinePlace.visible {
  opacity: 1;
}

.catButtonSmall {
  border-radius: 40px;
  border: 0px solid rgba(0, 0, 0, 0);
  display: inline-flex;
  padding: 2px 10px;
  width: fit-content;
  height: fit-content;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  font-size: 15px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(27.5px);
}
.catButtonSmall.colored {
  background-color: var(--third-color);
}
.catButtonSmall.colored p {
  color: var(--primary-color);
}
.catButtonSmall.interact:hover {
  backdrop-filter: blur(60px);
  background-color: rgba(255, 255, 255, 0.5);
}
.catButtonSmall a,
.catButtonSmall p {
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  color: black;
}
.catButtonBig {
  border-radius: 40px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  display: inline-flex;
  padding: 7px 25px;
  color: #000;
  width: fit-content;
  /* min-width: 44px; */
  white-space: nowrap;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(27.5px);
  height: 44px;

  transition: all 0.2s ease-in-out;
}

.applyButton {
  padding-right: 20px;
}

.sortingMenu .catButtonBig {
  height: 60px;
  transition: all 0.2s ease-in-out;
}
/* .filterButton {
  height: 32px;
} */
/* .catButtonBig:has(img) {
  padding-left: 10px;
} */
/* .catButtonBig.interact:hover {
  backdrop-filter: blur(60px);
  background-color: rgba(255, 255, 255, 0.5);
} */

.catButtonBig.tag {
  background-color: var(--third-color);
  color: var(--primary-color);
}

.catButtonBig.active {
  outline: 2px solid var(--third-color);
  background-color: var(--button2-color) !important;
  color: var(--third-color);
}

.catButtonBig.active:has(.closeButton) {
  outline: 0px solid var(--whiteTurningBlack);
  background-color: var(--button2-color) !important;
  color: var(--whiteTurningBlack);
}
.catButtonBig.collaborator {
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-color);
  backdrop-filter: none;
}

.catButtonBig.collaborator img,
.catButtonBig.tag img,
.catButtonBig.category img {
  width: 0;
  padding-left: 0px;
  transition: 0.1s ease-in-out;
  max-width: 0;
}
.catButtonBig.collaborator.active img,
.catButtonBig.tag.active img,
.catButtonBig.category.active img {
  width: auto;
  max-width: 50px;
  transition: 0.1s ease-in-out;
  padding-left: 7px;
}

.catButtonBig.collaborator.active p {
  color: var(--third-color);
}
.catButtonBig a,
.catButtonBig p {
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
  color: inherit;
}
.catButtonBig.category p {
  color: black;
}
.catButtonBig.active p {
  color: var(--button-color);
}
.catButtonBig.featured a,
.catButtonBig.featured p {
  white-space: wrap;
}

.catButtonBig a:not(:first-child),
.catButtonBig p:not(:first-child) {
  padding-left: 10px;
}
.noPadding {
  padding: 5px !important;
}
.standardButton {
  border-radius: 40px;
  border: 1.5px solid var(--primary-color);
  display: inline-flex;
  padding: 2px 15px;
  color: var(--primary-color);
  width: fit-content;
  height: fit-content;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.lightButton {
  border: 0px solid rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(27.5px);
  border-radius: 40px;
}
.headingButton {
  border: 0px solid rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(27.5px);
  display: inline-flex;
  padding: 12px 22px;
  color: #000;
  width: fit-content;
  height: auto;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  border-radius: 40px;
  min-height: 55px;
}

.headingButton p {
  color: var(--primary-color);
}

.headingButton a,
.headingButton p {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}
.year {
  padding: 8px 10px;
}
.projectCategoryButton p {
  color: var(--primary-color);
  /* mix-blend-mode: overlay; */
  font-weight: 500;
}
.projectTagButton {
  background-color: var(--primary-color);
}
.projectTagButton p {
  color: white;
}
.littelCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.modeButtonContainer {
  right: 170px;
  top: 30px;
}

.modeButton,
.filterButton {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(27.5px);
  border: none;
  width: auto;
  max-width: 500px;
  transition: width 1s;
  border-radius: 40px;
  padding: 5px;
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.filterButton.active {
  background-color: rgba(0, 0, 0, 1);
  border: none;
  width: auto;
  max-width: 1500px;
  color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.standardButton.active {
  max-width: 50000px;
}
.standardButton p {
  color: #000;
  font-size: 15px;
  font-style: normal;
  /* font-weight: 700; */
}
.link {
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  /* line-height: normal; */
  letter-spacing: -0.32px;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  .interactable:hover {
    box-shadow: 0px -2px 5.5px 0px rgba(0, 0, 0, 0.66) inset,
      0px 5px 5.7px 0px rgba(255, 255, 255, 0.8) inset,
      0px 2px 2.3px 0px rgba(0, 0, 0, 0.9),
      0px 4px 4px 0px rgba(255, 255, 255, 0.1);
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.1));
    outline: 0px solid rgba(0, 0, 0, 0);
  }
}

.burgerLayer.interactable:hover {
  box-shadow: 0px -2px 5.5px 0px rgba(0, 0, 0, 0.5) inset,
    0px 5px 5.7px 0px rgba(255, 255, 255, 0.5) inset;
  filter: none;
}
.standardButton a,
.standardButton p {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  white-space: nowrap;
  padding-left: 0;
  /* font-weight: 700; */
}

.filterButton p {
  color: black;
  padding-left: 0px;
  font-weight: 500;
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.32px;
}

.filterButton img {
  filter: invert(0);
  /* padding-right: 20px; */
}

.filterButton.active img {
  filter: invert(0);
}
.filterButton.hasChanged img {
  filter: invert(1);
}
.filterButton.active p {
  color: white;
}

.plusSign {
  padding: 0;
}
.active .plusSign {
  transform: rotate(0deg);
  /* padding-right: 10px; */
  filter: invert(0);
}

.logo {
  overflow: hidden;
  /* background-color: var(--cluster-yellow); */
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.1s ease;
}
.icon {
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.circleIcon {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--cluster-yellow);
  transition: all 0.1s ease-in-out;
}
.circleIcon.return {
  object-position: 0px 0px;

  background-size: 40px 40px;
}
.circleIcon.logo {
  object-position: 0px 0px;
  background-size: 45px 45px;

  background-position: 0px -5px;
  background-size: 55px 55px;
}

.circleIcon:hover {
  box-shadow: 0px -4px 14px 0px rgba(0, 0, 0, 0.45) inset,
    0px 4px 3px 0px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.05));
}

.institutionLink {
  display: block;
  /* margin-left: var(--margin-size);
  margin-right: var(--margin-size);
  min-width: 400px; */
}
.institutionLink img {
  position: relative;
  max-height: 64px;
  height: 64px;
  width: auto;
}

footer {
  padding: 50px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
footer a,
footer p,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer div {
  color: var(--secondary-color);
}

.greeting {
  max-width: 70%;
  height: 100px;
}
.socialLinks {
  align-items: flex-end;
}

.linkColumn:not(:first-child) {
  padding-left: 38px;
}
.linkColumn:not(:first-child) a {
  color: var(--text-color);
}
.linkColumn:is(:first-child) a {
  font-weight: 500;
}
/* ////////MENU HEADER/////////// */

.darkmodetoggle {
  width: 100px;
  height: 80px;
  padding-right: 20px;
  padding-top: 10px;
}
.darkmodetoggle img {
  max-height: 100% !important;
  max-width: 100% !important;
}
.mobileMenu .darkmodetoggle {
  margin-bottom: 25px;
  margin-left: 20px;
}
.lightmodebutton {
  position: fixed;
  top: 15px;
  right: 80px;
  z-index: 9;
}
.darkmodebutton button,
.lightmodebutton button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
}
.burger {
  -webkit-transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  transition: height 0.5s ease-in-out margin-top 0.5s ease-in-out;
  width: auto;
  margin-top: 10px;
  margin-left: 27px;
  margin-right: 12px;
  margin-bottom: 22px;
}
.burger.open {
  height: auto;
  max-height: 80000px;
}
.burger.closed {
  max-height: 110px;
  max-width: 100%;
}
.burgerLayer {
  transition: margin 0.5s ease-in, width 0.5s ease-in;
  padding: 0px 0px 0px 0px;
  border-radius: 40px;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
}

.burgerLayer.closed {
  margin-top: -8px;
  margin-bottom: -10px;
  padding: 0;
}
.burgerLayer.open {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}
.burgerTop,
.burgerBottom {
  transition: margin 0.5s ease-in-out;
}

.burgerTop.closed {
  margin-bottom: -20px;
}
.burgerBottom.closed {
  margin-top: -20px;
}

.burgerLayer p {
  width: 0;
  max-width: 0;
  text-align: right;
  transition: width 0.1s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  margin-left: 5px;
}
.burgerLayer.interactable:hover {
  background-color: var(--button-color);
}

.burgerLayer.interactable:hover p {
  width: auto;
  max-width: 500px;
  padding-left: 12px;
}
.burger img {
  transition: all 0.5s ease-in, visibility 0s;
}
.burger img {
  width: 90px;
  max-width: 100px;
}

.small.burger img {
  width: 80px;
  max-width: 80px;
}
.small.burger.closed .burgerLayer {
  margin-bottom: -10px;
  margin-top: -10px;
}
.burger.big .burgerBottom {
  margin-top: -20px;
}

/* .small.burgerbun img {
  width: 50px;
} */

.burgerBottom.open,
.burgerTop.open {
  /* padding-bottom: 10px; */
  margin-bottom: 0px;
  pointer-events: none;
}
.burgerBottom.open {
  /* padding-top: 10px; */
}

.mobileMenu {
  backdrop-filter: blur(35px);
}

/* header */
.fixedTopLeft {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.fixedTopRight {
  position: fixed;
  top: 0;
  right: 0;
}
.fixed {
  position: fixed;
  z-index: 9999;
}
.absolute {
  position: absolute;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.top {
  top: 0;
}
.center {
  left: 50%;
  transform: translate(-50%, 0);
}
.header-padding {
  margin-top: 22px;
  margin-left: 27px;
  margin-right: 15px;
  margin-bottom: 22px;
}

/* hero */

.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: -5px;
}
.hero-image {
  transition: all 0.2s ease;
}
.hero span {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero.contain span img {
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
}

.heroContent img {
  object-fit: contain;
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pill {
  width: 100%;
  height: 179px;
  padding: 15px;
  border-radius: 140px;
  gap: 3px;
  background-color: var(--third-color);
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pillContent {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
}

.timeText p,
.heroContent p {
  color: #fff;
  text-align: center;
  font-size: 32px;
  margin: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
}
.heroHeading {
  font-weight: 700;
  color: var(--third-color);
}
.pillContent img {
  filter: invert(1);
  margin: 10px;
}
.pillContent .heroHeading {
  font-weight: 700;
  color: var(--primary-color);
}
.pillContent .timeText p,
.pillContent p {
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  min-height: 0;

  color: var(--primary-color);
}
.pill:is(:first-of-type) {
  margin-top: 20px;
}
.connectedprojectpill .pill {
  background-color: var(--primary-color);
  height: 563px;
  border-radius: 500px;
  padding: var(--padding);
}
.connectedprojectpill .pill .pillContent img {
  filter: invert(0);
}
.connectedprojectpill .pill .pillContent p,
.connectedprojectpill .pill .pillContent .timeText p,
.connectedprojectpill .pill .timeText p,
.connectedprojectpill .pill .heroContent p {
  color: var(--third-color);
}
/* INFINITE HORIYONTAL SCROLL */

.infinite-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.horizontalScroll {
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  gap: 59px;
  margin-bottom: 20px;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.buttons {
  padding-top: 20px;
}

.project-item {
  flex: 0 0 auto;
  width: 200px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.pressCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 596px;
}

.pressCard:is(:last-child) {
  margin-right: 100px;
}

.showcaseGrid {
  position: relative;
  padding: 22px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.showcaseCard {
  width: min-content;
  max-width: 100%;
  transition: all 1s;
  visibility: visible;
  padding-bottom: 65px;
}

.hidden {
  visibility: hidden;
}
.showcaseCard span {
  width: min-content;
  max-width: 100%;
  border-radius: 10px;
  /* margin-bottom: 9px; */
}
.showCardContent {
  margin-bottom: 20px;
}
.showcaseCard img {
  border-radius: 10px;
}

.scrollView .showcaseCard {
  width: 900px;
}
.scrollView .showcaseCard span {
  width: 900px;
  max-width: 100%;
}

/* .pressCard img {
  opacity: 0;
} */

.pressCard span,
.pressCard img {
  height: 376px;
  width: 596px;
  border-radius: 15px;
  object-fit: cover;
  border-radius: 5px;
  background: linear-gradient(0deg, #d7d7d7 0%, #d7d7d7 100%),
    lightgray -544.476px -137.788px / 113.296% 198.698% no-repeat, #f3c4ea;
}
.pressCard img:hover {
  box-shadow: -8px 4px 17px 0px rgba(0, 0, 0, 0.25);
}

.pressCard .smallp:is(:first-child) {
  margin-bottom: 15px;
}
.pressCardContent {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.pressCardContent .smallp {
  margin-top: 9px;
  margin-bottom: 9px;
}
.pressCardContent h5 {
  white-space: wrap;
}

.pressCard .year {
  position: absolute;
  z-index: 1;
  top: 21px;
  left: 21px;
}
.showcaseCard .year {
  position: absolute;
  z-index: 1;
  top: 33px;
  left: 10px;
}
.pressCard a,
.pressCard h1,
.pressCard div {
  max-width: 100%;
}

.pressCard .tag {
  margin-right: 5px;
}

.loader {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--cluster-yellow);
}

.blur {
  filter: blur(30px);
  transform: scale(1.1, 1.1);
}

.showcaseGrid {
  gap: 30px;
}

.sortingMenu {
  background: rgba(172, 172, 172, 0.36);
  backdrop-filter: blur(33px);
  padding: 50px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.sortingButton {
  border: 0px;
}
.sortingButton.active {
  background-color: var(--cluster-yellow) !important;
}
.sortingMenu .column {
  min-width: 33%;
  gap: 10px;
  height: fit-content;
}
.sortingMenu .flex-row {
  gap: 10px;
}
.sortingMenu .collaborators {
  margin-top: 10px;
}
.introStage .catButtonBig {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}
.buttonList {
  max-width: 800px;
  flex-wrap: wrap;
  gap: 10px;
  transform: translate(0, 30px);
}
.buttonList:has(.lightButton) {
  transform: translate(0, 30px);
}
.buttonList.confined {
  max-width: 45%;
}
.sortingMenu .featured {
  width: 100%;
  display: flex;
  min-height: 70px;
  max-height: none;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35.5px; /* 110.938% */
  white-space: wrap;
  padding: 0px 31px;
  border: 0px;
}
.sortingMenu .featured p {
  color: black;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sortingMenu .featured img {
  height: 50px;
  width: 50px;
  margin: 25px;
}
.sortingMenu .featured.active p {
  color: var(--third-color);
}
.sortingMenu .featured.allfilterButton {
  background-color: var(--button-color);
  color: var(--button2-color);
  display: flex;
  flex-direction: row;
  outline: 2px solid var(--button2-color);
}
.sortingMenu .featured.allfilterButton p {
  color: var(--button2-color);
}

.filterButton p {
  color: white;
}
.standardButton.category,
.sortingButton.category {
  border: 0px;
  color: var(--primary-color);
}
.sortingButton.tag {
  background-color: var(--primary-color);
  color: white;
}
.sortingButton.tag p {
  color: white;
}

.fixedFilerButton {
  left: 250px;
  height: 60px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}
.fixedFilerButton.active {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}
.fixedFilerButton img {
  margin-right: 23px;
}
.openFilters {
  transform: rotate(180deg);
}

.rowBlock span,
.rowBlock span img {
  max-width: 100% !important;
}

.rowblock:has(.textContent):is(:last-child) {
  margin-left: 80px;
}
.rowblock:has(.textContent):is(:first-child) {
  margin-right: 80px;
}

.readmorecontent {
  margin-top: 90px;
  transition: all 3s ease-in-out;
  position: relative;
}
.readmorebutton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 99999999;
}

.readmorecontent.closed {
  max-height: 150px;
  overflow-y: hidden;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 50%);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(transparent)
  );
  mask-image: linear-gradient(to bottom, black 0%, transparent 50%);
}

.readmorecontent.open {
  height: auto;
  max-height: 3000px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(to bottom, black 99%, transparent 100%);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(black),
    to(transparent)
  );
  mask-image: linear-gradient(to bottom, black 99%, transparent 100%);
}
iframe,
.videoThumbnail,
.videoContainer {
  border-radius: 10px;
}
.videoThumbnail img,
.videoThumbnail span {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.buttonblock {
  width: 100%;
  display: flex;
  padding: 19px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 43px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 299px;
}
.buttonblock:only-child {
  margin-top: 10px;
  height: 222px;
}
.listsentence {
  margin-bottom: 10px;
}
.listsentence p {
  margin-bottom: -5px;
}
.listsentence p,
.listsentence a {
  margin-right: 5px;
}
.listsentence a {
  text-decoration: underline;
  font-weight: 700;
}

.page {
  min-height: 100vh;
}

.buttonDown {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 17px;
}

.catButtonBig:has(.round) {
  height: 40px;
  min-height: 40px;
  width: 40px;
  padding: 0;
}
.catButtonBig:has(.openFilters) {
  color: var(--button2-color);
}

.logoImage {
  height: 30px;
  filter: invert(1);
}

.jungleContainer {
  overflow-y: hidden;
}

.jungleMenuFrame {
  /* width: fit-content;
  height: fit-content; */
  max-width: 50%;
  /* max-height: 90%; */
  min-width: 300px;
  min-height: 350px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(0, 100%);
  transition: transform 0.5s ease-in-out;
}

.jungleMenuFrame span {
  margin-bottom: -10px;
  max-width: 100% !important;
  max-height: 100% !important;
}
.jungleMenuFrame img {
  max-width: 100% !important;
  max-height: 100% !important;
  position: relative;
  z-index: -99999;
  object-fit: contain;
}
.jungleMenuFrame.open {
  transform: translate(0, 0);
}
.jungleMenuFrameDescription {
  background-color: #171614;
}
.jungleMenuFrameFrame {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.jungleMenuFrameFrame .flex-column {
  height: 100%;
}
.jungleMenuFrameTitle {
  padding: 5px 10px 5px 5px;

  position: absolute;
  /* top: -15px;
  left: -15px; */
}
.jungleMenuFrameTitle p {
  color: #171614;
  font-weight: 700;
}
.jungleMenuFrameDescription {
  padding: 6px 10px 20px 10px;
}
.jungleMenuFrameDescription p {
  font-size: 16px;
  white-space: wrap;
}

.wrap {
  max-width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}
.wrapcenter {
  max-width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.miniwrap {
  max-width: 100%;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: first baseline;
  align-items: flex-start;
}

.miniwrap a,
.miniwrap p {
  line-height: 20px;
  min-height: 20px;
}

@media only screen and (max-width: 1400px) {
  /* .cubedImage {
    height: 450px;
    width: 450px;
  } */
}

@media only screen and (max-width: 1100px) {
  /* .cubedImage {
    height: 350px;
    width: 350px;
  } */
}

/* fonts on tablet */
@media only screen and (max-width: 900px) {
  .mainContainer {
    --font-size: 24px;
    --margin-size: 15px;
    --paddingValue: 50px;
    --padding: var(--paddingValue) var(--paddingValue);
  }

  .burgerLayer.interactable {
    background-color: var(--button-color);
    margin-bottom: 15px;
  }

  .sortingMenu .featured p {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 80%;
  }
  .sortingMenu .featured img {
    height: 30px;
    width: 30px;
    margin: 25px;
  }

  #headLinePlace {
    margin-top: 30px;
  }

  .pressCard .smallp:is(:first-child) {
    margin-bottom: 3px;
  }
  .pressCardContent {
    margin-left: 8px;
    margin-right: 8px;
    /* margin-bottom: 0px; */
  }
  .smallp p {
    line-height: 15px;
  }

  .buttonList {
    max-width: 70%;
  }

  .pressCard span,
  .pressCard img {
    height: 200px;
    width: 325px;
    border-radius: 15px;
    object-fit: cover;
    border-radius: 5px;
    background: linear-gradient(0deg, #d7d7d7 0%, #d7d7d7 100%),
      lightgray -544.476px -137.788px / 113.296% 198.698% no-repeat, #f3c4ea;
  }
  .pressCard:is(:last-child) {
    margin-right: 50px;
  }
  .pillContent .timeText p,
  .pillContent p {
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 125% */
    min-height: 0;
    margin: 5px;
  }

  .horizontalScroll {
    gap: 10px;
  }
  .catButtonBig {
    border-radius: 40px;
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    color: #000;
    padding: 7px 13px;
    width: fit-content;
    /* min-width: 32px; */
    white-space: nowrap;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(27.5px);
    height: 32px;

    transition: all 0.2s ease-in-out;
  }

  .applyButton {
    padding-right: 20px;
  }
  .applyButton img {
    min-width: 25px;
    min-height: 25px;
  }

  .headingButton {
    min-height: 40px;
  }
  .catMenuButton:has(.round) {
    height: 40px;
    min-height: 40px;
    width: 40px;
    padding: 0;
  }

  .buttonList {
    gap: 5px;
  }
  .buttonList {
    max-width: 70%;
    flex-wrap: wrap;
    transform: translate(0, 33px);
  }

  .sortingMenu .catButtonBig {
    height: 45px;
    transition: all 0.2s ease-in-out;
  }

  .modeButtonContainer {
    right: 90px;
  }
  .round {
    height: 30px;
  }

  .fullWidthBlock {
    padding: 10px 10px 0 10px;
  }
  .scrollView .showcaseCard {
    width: 100%;
  }
  .scrollView .showcaseCard span {
    width: 100%;

    max-width: 100%;
  }

  .jungleMenuFrame {
    /* width: fit-content;
    height: fit-content; */
    max-width: 80%;
    /* max-height: 80%; */
    min-width: 150px;
    min-height: 200px;
    /* max-width: 80%; */
    /* height: 400px; */
    /* max-height: 70%; */
  }
  .jungleMenuFrameTitle {
    padding: 5px 5px 5px 5px;
    position: absolute;
    /* top: -5px;
    left: -5px; */
  }

  footer {
    padding: 35px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .buttonDown {
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 50px;
    height: 50px;
    transform: translate(40px, 0);
  }
  .buttonblock:is(:only-child),
  .buttonblock {
    min-height: 150px;
    width: 100%;
    margin: 0;
  }
  .sortingButton p {
    font-size: 10px;
  }
  .tagbuttongrid {
    padding: 13px;
    max-width: 75%;
    padding-top: 100px;
  }
  .projectDetails {
    gap: 5px;
  }
  .blockItem {
    padding: 70px var(--paddingValue) 100px var(--paddingValue);
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .blockItemOpenRight {
    padding: var(--paddingValue) 0 var(--paddingValue) 13px;
  }
  .blockItemHeadline {
    padding: var(--paddingValue) 0 10px 13px;
  }
  .blockItemHeadline:is(:first-child) {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .connectedprojectpill .pill {
    height: 192px;
  }
  .rowblock:has(.textContent):is(:last-child) {
    margin: 0;
  }
  .rowblock:has(.textContent):is(:first-child) {
    margin: 0;
  }
  .blockContainer.confined .block,
  .block {
    padding: 13px;
  }
  .showcaseGrid {
    position: relative;
    padding: 13px;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .lilpadding {
    padding-top: 0px;
  }

  .cubedImage {
    /* height: 600px;
    width: 600px; */
  }
  .cubedImage:is(:first-child) {
    margin-left: 10px;
  }
  .cubedImage:is(:last-child) {
    margin-right: 10px;
  }
  .carousel .slider {
    width: 610px !important;
  }

  .fixedFilerButton.active {
    left: 0px;
  }
  .fold {
    flex-direction: column;
    gap: 10px;
  }
  a,
  p {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .smallp p,
  .smallp {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .minip p,
  .minip {
    font-size: 10px;
    line-height: normal;
  }

  .miniwrap p {
    line-height: 10px;
  }

  h1 {
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 130% */
    min-height: 30px;
  }

  h2 {
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
  }

  h3 {
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
  }

  h4 {
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
  }

  h5 {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  .sortingMenu {
    padding-top: 120px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* fonts on mobile */
@media only screen and (max-width: 600px) {
  .mainContainer {
    --font-size: 24px;
    --margin-size: 15px;
    --paddingValue: 14px;
    --padding: var(--paddingValue) var(--paddingValue);
  }
  .buttonList {
    max-width: 70%;
    flex-wrap: wrap;
    transform: translate(0, 25px);
  }
  .buttonList:has(.lightButton) {
    max-width: 70%;
    flex-wrap: wrap;
    transform: translate(0, 20px);
  }
  .modeButtonContainer {
    right: 50px;
  }
  .round {
    height: 35px;
  }
  .logoImage {
    height: 30px;
  }
  .fullWidthBlock {
    padding: 0 var(--paddingValue) var(--paddingValue) var(--paddingValue);
  }
  .projectTitle {
    max-width: 50%;
  }
  .projectTitle p {
    white-space: wrap;
    /* line-height: 13px; */
  }

  .fixedFilerButton {
    left: 200px;
    height: 50px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: black;
  }
  .list {
    padding-top: 102px;
    padding-bottom: 102px;
  }
  .carousel .slider {
    width: 360px !important;
  }
  .cubedImage {
    /* height: 350px;
    width: 350px; */
  }

  .smallp p,
  .smallp {
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 142.857% */
  }
  .minip p,
  .minip {
    font-size: 10px;
    line-height: normal;
  }

  .miniwrap {
    height: fit-content;
  }

  h1 {
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
  }

  h2 {
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
  }

  h3 {
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
  }

  h4 {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }

  h5 {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

@media only screen and (max-width: 900px) {
  .grid {
    padding: var(--mobile-padding);
  }
  .list {
    padding: var(--mobile-padding);
    padding-top: 100px;
  }
  .miniwrap {
    max-width: 100%;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: first baseline;
    align-items: flex-start;
  }
  .miniwrap a,
  .miniwrap p {
    line-height: 20px;
    min-height: 20px;
  }

  .burgerLayer.interactable p {
    /* margin-right: 12px; */
    width: auto;
    max-width: 500px;
    transition: all 0.01s ease-in-out;
    /* margin-left: 12px; */
    padding-left: 12px;
  }
  .open.burgerBottom img,
  .open.burgerTop img {
    visibility: hidden;
    /* transition: all 0s; */
  }
  .burger.open img:is(:first-child) {
    padding-bottom: 50px;
  }
  .burger.open {
    margin-right: 30px;
  }
  .tabletright {
    right: 20px;
  }
  .miniwrap a,
  .miniwrap p {
    line-height: 15px;
    min-height: 15px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    --padding: var(--mobile-padding);
  }

  .standardButton a,
  .standardButton p {
    font-size: 12px;

    text-transform: uppercase;
  }
  /* .sortingButton p {
    font-size: 10px;
  }
  .sortingButton {
    padding: 2px 10px;
  } */
  /* .filterButton p {
    padding-left: 5px;
  } */
  .wrapOnMobile {
    flex-direction: column;
  }
  .wrapOnMobile .flex-column {
    padding: 0;
  }

  .header-padding {
    margin: 17px;
  }
  /* .menuContainer:has(.open) {
    pointer-events: none;
  } */
  /* .burgerLayer.interactable {
    box-shadow: 0px 4px 7px 0px #000000b2;
  } */
  .burgerLayer.interactable p {
    /* margin-right: 12px; */
    width: auto;
    max-width: 500px;
    transition: all 0.01s ease-in-out;
    /* margin-left: 12px; */
    padding-left: 12px;
  }
  .circleIcon {
    width: 50px;
    height: 50px;
    margin-right: 7px;
  }

  .circleIcon.logo {
    object-position: 0px 0px;
    background-position: 5px 0px;
    background-size: 40px 40px;
  }
  .burger img {
    transition: all 0.5s ease-in-out;
  }
  /* 
  .burgerbun img {
    transition: width 0.1s ease-in;
  } */
  .burger {
    margin-left: 7px;
    height: 90px;
  }

  .big.burger.closed {
    height: 120px;
  }
  .small.burger.closed {
    margin-left: 7px;
    height: 70px;
  }
  .small.burger.open {
    margin-left: 7px;
    height: auto;
  }
  .burger.closed img {
    width: 85px;
    /* max-width: 100% !important; */
  }
  .small.burger.closed img {
    width: 60px;
    /* max-width: 100% !important; */
  }
  .small.burger.open img {
    width: 90px;
    min-height: 40px;
    /* max-width: 100% !important; */
  }
  .burger.open img {
    visibility: hidden;
    /* transition: all 0s; */
  }
  .burgerLayer.open img {
    visibility: visible;
    /* transition: all 0s; */
  }
  .burgerLayer.closed {
    margin-top: -10px;
    margin-bottom: -26px;
  }
  .burgerTop.closed {
    margin-bottom: -10px;
  }
  .burgerBottom.closed {
    margin-top: -15px;
  }

  .burger.closed .burgerLayer {
    margin-bottom: -15px;
    margin-top: -14px;
  }

  /* .smallBurger.burgerLayer.closed {
    margin-top: -15px;
    margin-bottom: -17px;
  } */
  .burgerTop.closed {
    margin-bottom: -20px;
  }
  .open .burgerTop img,
  .open .burgerBottom img {
    transition: all 0s ease-in-out;
  }
  .burger.open img:is(:first-child) {
    padding-bottom: 32px;
  }

  /* .icon,
  .logo {
    width: 60px;
    height: 60px;
  } */

  .burgerLayer img {
    padding: 0;
  }
  .burgerLayer.interactable:hover p {
    margin-left: 12px;
  }

  footer p,
  footer a {
    font-size: 13px;
  }

  .miniwrap {
    max-width: 100%;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: first baseline;
    align-items: flex-start;
  }
  .miniwrap a,
  .miniwrap p {
    line-height: 15px;
    min-height: 15px;
  }
}

.empty {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}
.empty:hover {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  body.dark {
    --primary-color: #f0f0ef;
    --secondary-color: #181818;
    --third-color: black;
    --button-color: #181818;
    --button2-color: white;
    --whiteTurningBlack: black;
  }

  body.dark .iconThatShouldChangeInNIghtMode {
    filter: invert(1) !important;
  }

  body.dark .iconThatShouldChangebackInNightMode {
    filter: invert(0) !important ;
  }
  .allfilterplus {
    filter: invert(1);
  }

  body.dark .headingButton {
    background-color: #171614;
  }
}

body.dark {
  --primary-color: #f0f0ef;
  --secondary-color: #181818;
  --third-color: black;
  --button-color: #181818;
  --button2-color: white;
  --whiteTurningBlack: black;
}

body.dark .iconThatShouldChangeInNIghtMode {
  filter: invert(1) !important;
}

body.dark .iconThatShouldChangebackInNightMode {
  filter: invert(0) !important ;
}
/* .allfilterplus {
  filter: invert(1);
} */

body.dark .headingButton {
  background-color: black;
}
