:root {
  --cluster-yellow: #ffeb01;
  --mobile-padding: 17px 17px;
}

body {
  --primary-color: #171614;
  --secondary-color: #faf7e5;
  --button-color: #eeeee0;
  --third-color: white;
  --text-color: #d9d4af;
  --font-size: 15px;
  --margin-size: 15px;
  --padding: 59px 51px;
}
body.light {
  --primary-color: white;
  --secondary-color: black;
  --third-color: blue;
  --font-size: 15px;
  --margin-size: 15px;
}
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-row {
  flex-direction: row;
  display: flex;
}
.flex-column {
  flex-direction: column;
  display: flex;
}

.align-center {
  align-items: center;
}
.align-right {
  align-items: flex-end;
}
.space-between {
  justify-content: space-between;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
p,
h2,
h3,
h4,
h1,
a,
button,
span {
  font-family: Helvetica Neue;
  color: var(--secondary-color);
}
span {
  display: inline-block;
}
a {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-decoration: none;
}
a p {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-decoration: none;
}

strong {
  font-weight: bold;
}
a.flex-row {
  align-items: center;
}
h1 {
  font-size: 24px;
  font-weight: 200;
  line-height: 29px;
  letter-spacing: 0em;
}

.textblock {
  padding: var(--padding);
  padding-bottom: 90px;
}
p {
  margin: 0;
  min-height: var(--font-size);
  font-family: Helvetica Neue;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.standardButton {
  margin: var(--margin-size);
  padding-left: var(--margin-size);
  padding-right: var(--margin-size);

  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 35px;
  height: 45px;
  font: inherit;
  font-size: var(--font-size);
  color: var(--secondary-color);
  background-color: var(--button-color);
  box-shadow: 0px -4px 14px 0px #000000b2 inset, 0px 4px 7px 0px #000000b2;
}
.active {
  /* box-shadow: 0px -4px 14px 0px #000000b2 inset;
  box-shadow: 0px 4px 7px 0px #000000b2; */
}
.logo {
  border-radius: 50px;
  overflow: hidden;
  /* background-color: var(--cluster-yellow); */
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.1s ease;
}
.icon {
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.circleIcon {
  width: 60px;
  height: 60px;
  background-size: 45px 45px;
  background-color: var(--cluster-yellow);
}

.circleIcon:hover {
  box-shadow: 0px -4px 14px 0px #000000b2 inset, 0px 4px 7px 0px #000000b2;
}

.institutionLink {
  display: block;
  /* margin-left: var(--margin-size);
  margin-right: var(--margin-size);
  min-width: 400px; */
}
.institutionLink img {
  position: relative;
  max-height: 64px;
  height: 64px;
  width: auto;
}

footer {
  padding: var(--padding);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.socialLinks {
  align-items: flex-end;
}

.linkColumn:not(:first-child) {
  padding-left: 38px;
}
.linkColumn:not(:first-child) a {
  color: var(--text-color);
}
.linkColumn:is(:first-child) a {
  font-weight: 500;
}
/* ////////MENU HEADER/////////// */

.burger {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.burger img {
  transition: all 1s ease-in-out;
}
.burger.open {
  height: auto;
  max-height: 80000px;
  width: auto;
}
.burger.closed {
  max-height: 80px;
  width: auto;
  max-width: 100%;
}
.burger .burgerLayer {
  transition: all 1s ease-in-out, background-color 1s ease-in-out 1s;
  padding: 0px 12px 0px 12px;
}
.burgerLayer.closed {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 0;
  transition: all 1s ease-in-out, background-color 0.1s ease-in-out 0s;
}
.burgerLayer.open img {
  margin-right: 0px;
}
.burgerLayer.closed img {
  margin-right: 12px;
}
.smallBurger.closed img {
  margin-right: 5px;
}
.smallBurger.closed {
  margin-top: -8px;
  margin-bottom: -8px;
}
.burgerLayer.open {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px 12px 7px 12px;
  background-color: var(--button-color);
  border-radius: 16.5px;
}
.burgerbun {
  transition: all 2s ease-in-out;
}
.smallBurger.burgerbun img {
  width: 60px;
}
.burgerTop.closed {
  margin-bottom: -10px;
}
.burgerTop.open {
  padding-bottom: 10px;
  margin-bottom: 0px;
  pointer-events: none;
}
.burgerBottom.open {
  padding-top: 10px;
}
.burgerLayer img {
  transition: all 1s ease-in-out;
  padding: 0;
}
.burgerLayer p {
  color: var(--primary-color);
  width: 0;
  max-width: 0;
  font-family: Helvetica Neue;
  font-size: 17px;
  font-weight: 100;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: right;
  transition: all 1s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}
.interactable {
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}
.burgerLayer.interactable:hover p {
  color: var(--primary-color);
  margin-right: 12px;
  width: auto;
  max-width: 500px;
  transition: all 1s ease-in-out;
}

.mobileMenu {
  background-color: var(--text-color);
}

/* header */
.fixedTopLeft {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.fixedTopRight {
  position: fixed;
  top: 0;
  right: 0;
}
.fixed {
  position: fixed;
  z-index: 9999;
}
.absolute {
  position: absolute;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.header-padding {
  margin-top: 22px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 22px;
}

/* hero */

.hero {
  position: relative;
  width: 100%;
}
.hero span,
.hero span img {
  position: relative;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.hero.contain span img {
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pill {
  width: 100%;
  height: 179px;
  padding: 11px 0px 11px 0px;
  border-radius: 140px;
  gap: 3px;
  background-color: var(--third-color);
  margin-bottom: 5px;
}

.pill:is(:first-child) {
  margin-top: 102px;
}
.pill:is(:last-child) {
  margin-bottom: 102px;
}
.pillContent {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.timeText h1,
.timeText p,
.pillContent h2 {
  color: var(--primary-color);
  font-size: 10px;
}
.pillContent img {
  filter: invert(1);
}

@media only screen and (max-width: 600px) {
  .grid {
    padding: var(--mobile-padding);
  }
}

/* INFINITE HORIYONTAL SCROLL */

.infinite-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  padding: 10px; /* Adjust as needed */
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.project-item {
  flex: 0 0 auto;
  width: 200px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--cluster-yellow);
}

.blur {
  filter: blur(10px);
}

@media only screen and (max-width: 600px) {
  body {
    --padding: var(--mobile-padding);
  }
  .wrapOnMobile {
    flex-direction: column;
  }
  .wrapOnMobile .flex-column {
    padding: 0;
  }

  .header-padding {
    margin: 17px;
  }
  .menuContainer:has(.open) {
    pointer-events: none;
  }
  .burgerLayer.interactable p {
    color: var(--primary-color);
    margin-right: 12px;
    pointer-events: all;
    width: auto;
    max-width: 500px;
    transition: all 1s ease-in-out;
  }
  .circleIcon {
    width: 50px;
    height: 50px;
    background-size: 35px 35px;
  }
  .burger.closed img {
    width: 60px;
    max-width: 100% !important;
  }
  .burger.open img {
    visibility: hidden;
    transition: all 0s;
  }
  .burgerLayer.open img {
    visibility: visible;
    transition: all 0s;
  }

  .burger.open img:is(:first-child) {
    padding-bottom: 32px;
  }

  .icon,
  .logo {
    width: 60px;
    height: 60px;
  }

  .burgerLayer img {
    padding: 0;
  }
  .burgerLayer.closed {
    margin-top: -7px;
    margin-bottom: -7px;
  }
  .burgerLayer.closed img {
    margin-right: 10px;
    width: 40px;
  }
  .smallBurger.closed img {
    margin-right: 7.5px;
    width: 35px;
  }
}
